@import "tailwindcss";


body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #dfdff0;
  font-family: "General Sans", sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}


* {
  box-sizing: border-box;
}

@layer base {}

@import "tailwindcss";

@layer utilities {

  .option-mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}